{% extends 'base.html' %}
{% load static %}
{% block content %}

  <div class="col-md-4 col-lg-6 col-xl-8 mt-5 card m-auto mb-5 p-3" style="border: 0;">
    <form  method="post" style="border: 0;"> 
      {% csrf_token %}
      <div
        class="align-items-center justify-content-center justify-content-lg-start text-center" style="border: 0;">
        <h3
          style="
            font-family: cursive;
            background-color:rgb(251, 184 , 57);
            color: white;
            border-radius: 30px;
            padding: 50px;
            font-size: 40px;
          ">
          <b>Seller SignUp</b>
        </h3>
      </div>

      <!-- Vendor Name input -->
      <div class="form-outline mt-5">
        <label class="form-label" for="form3Example3"> Name</label>
        <input
          type="text"
          name="name"
          id="#"
          class="form-control form-control-lg"
          placeholder="Enter Your Name" />
      </div>
      <!-- Email input -->
      <div class="form-outline">
        <label class="form-label" for="form3Example3">E-mail Address</label>
        <input
          type="email"
          id="#"
          name="email"
          class="form-control form-control-lg"
          placeholder="Enter Your E-mail" />
      </div>

      <!-- number input -->
      <div class="form-outline">
        <label class="form-label" for="form3Example3"> Number</label>
        <input
          type="number"
          id="#"
          name="number"
          class="form-control form-control-lg"
          placeholder="Enter Your Number" />
      </div>
      <!-- Company Name input -->
      <div class="form-outline">
        <label class="form-label" for="form3Example3">Company Name</label>
        <input
          type="text"
          id="#"
          name="Company_name"
          class="form-control form-control-lg"
          placeholder="Enter Your Company Name" />
      </div>
      <!--address input-->
      <div class="form-outline">
        <label class="form-label" for="form3Example4">Company Address</label>
        <textarea
          type="text"
          name="address"
          id="form3Example4" rows="3"
          class="form-control form-control-lg"
          placeholder="Enter Your Company Address"></textarea>
      </div>
      <div class="form-outline">
        <label class="form-label" for="form3Example3">GST Number</label>
        <input
          type="text"
          id="#"
          name="gst_number"
          class="form-control form-control-lg"
          placeholder="Enter Your GST Number" />
      </div>

      <!-- Password input -->
      <div class="form-outline">
        <label class="form-label" for="form3Example4">Password</label>
        <input
          type="password"
          id="form3Example4"
          name="password"
          class="form-control form-control-lg"
          placeholder="Enter Password" />
      </div>
      <div class="form-outline">
        <label class="form-label" for="form3Example4">Confirm Password</label>
        <input
          type="password"
          name="password1"
          id="form3Example4"
          class="form-control form-control-lg"
          placeholder="Re-enter Password" />
      </div>

      <div class="text-center text-lg-start mt-2 pt-2 mb-5">
        <button type="submit" class="btn btn-success btn-lg" style="background-color:rgb(251, 184 , 57) ;border: 0;">Sign Up</button>
        <p class="small fw-bold mt-2 pt-1 mb-0">
          Already have an account?<br />
          <a href={% url 'sellersignin' %} class="link-danger text-dark">Sign In</a>
        </p>
      </div>
    </form>
    {% if messagekey %}
  <script>alert("{{ messagekey }}")</script>
  {% endif %}
  </div>
{% endblock %}